

body{
    background: #4caf50;
    font-family: 'Roboto', sans-serif;
}
.caja-principal{
    
    background: white;
    width: 360px;
    box-sizing: border-box;
    padding: 45px;
    margin: auto;
    margin-top: 15%;
   
}
   
.caja-gris{
    background: #f2f2f2;
    padding: 15px 15px 15px;
    margin-bottom: 15px;
}

.caja-green{
    background: #4caf50;
    color: white;
      
}

.caja-green:hover
{
    background: #255428;
    transition: background 1s linear; 
}

.caja-comun{
    height: 46px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font: inherit;

}

.iconito
{
    position: relative;
}

.iconito i
{
    position: absolute;
    top: 15px;
    left: 5px;
}


